#config_version=5 

mode:
  start_events:
    - cmd_start_mode_skill_shot
  stop_events:
    - cmd_stop_mode_skill_shot
  priority: 500

event_player:
  mode_skill_shot_started:
    - cmd_clear_slides
    - cmd_play_skillshot_show
    - cmd_start_skillshot

  mode_skill_shot_stopping:
    - cmd_unlight_super_skill_shot

  ########################################
  # Cancel Skillshot
  ########################################

  s_3_bank_drop_bottom_active:
    - cmd_cancel_skill_shot
  s_3_bank_drop_mid_active:
    - cmd_cancel_skill_shot
  s_3_bank_drop_top_active:
    - cmd_cancel_skill_shot
  s_right_ramp_enter_active:
    - cmd_cancel_skill_shot
  s_right_ramp_exit_active:
    - cmd_cancel_skill_shot
  s_captive_ball_target_active:
    - cmd_cancel_skill_shot
  s_right_ramp_s_u_left_active:
    - cmd_cancel_skill_shot
  s_right_ramp_s_u_right_active:
    - cmd_cancel_skill_shot
  s_chain_target_c_active:
    - cmd_cancel_skill_shot
  s_chain_target_h_active:
    - cmd_cancel_skill_shot
  s_chain_target_a_active:
    - cmd_cancel_skill_shot
  s_chain_target_i_active:
    - cmd_cancel_skill_shot
  s_chain_target_n_active:
    - cmd_cancel_skill_shot
  s_saw_target_s_active:
    - cmd_cancel_skill_shot
  s_saw_target_a_active:
    - cmd_cancel_skill_shot
  s_saw_target_w_active:
    - cmd_cancel_skill_shot
  s_super_duper_jackpot_active:
    - cmd_cancel_skill_shot
  s_slaughter_house_target_active:
    - cmd_cancel_skill_shot
  s_right_orbit_top_active:
    - cmd_cancel_skill_shot
  s_right_orbit_bottom_active:
    - cmd_cancel_skill_shot
  s_jump_ball_vuk_active:
    - cmd_cancel_skill_shot
  s_sawyer_house_vuk_active:
    - cmd_cancel_skill_shot
  s_left_orbit_bottom_active:
    - cmd_cancel_skill_shot
  s_left_orbit_top_active:
    - cmd_cancel_skill_shot
  s_top_turbo_bumper_active:
    - cmd_cancel_skill_shot
  s_left_turbo_bumper_active:
    - cmd_cancel_skill_shot
  s_right_turbo_bumper_active:
    - cmd_cancel_skill_shot
  s_left_outlane_active:
    - cmd_cancel_skill_shot
  s_left_return_lane_active:
    - cmd_cancel_skill_shot
  s_left_slingshot_active:
    - cmd_cancel_skill_shot
  s_right_outlane_active:
    - cmd_cancel_skill_shot
  s_right_slingshot_active:
    - cmd_cancel_skill_shot
  cmd_play_super_skill_shot_success:
    - cmd_clear_skill_shot_success_slides

variable_player:
  cmd_super_skill_shot_award_one_million:
    score: 1000000
  cmd_super_skill_shot_award_five_million:
    score: 5000000

timers:
  skill_shot_timer:
    start_value: 0
  skill_shot_success_timer:
    start_value: 0
  skill_shot_deactivation_timer:
    start_value: 0

show_player:
  cmd_play_skillshot_show:
    skill_shot_show:
      action: play
      loops: 0
  cmd_light_super_skill_shot:
    fast_flash:
      action: play
      show_tokens:
        lights:
          basket_ramp_arrow
  cmd_unlight_super_skill_shot:
    fast_flash:
      action: stop
      show_tokens:
        lights:
          basket_ramp_arrow

sound_player:
  cmd_play_super_skill_shot_slide_background_sound:
    super_skill_shot_reward_sound:
      action: play
      loops: 0

slide_player:

  ##################################################
  # film reel
  ##################################################

  cmd_play_skill_shot_slide_extra_ball:
    skill_shot_extra_ball:
      action: play
      transition:
        type: push
        duration: 0.3s
        direction: down

  cmd_play_skill_shot_slide_mystery_meat:
    skill_shot_mystery_meat:
      action: play
      transition:
        type: push
        duration: 0.3s
        direction: down

  cmd_play_skill_shot_slide_light_lock:
    skill_shot_light_lock:
      action: play
      transition:
        type: push
        duration: 0.3s
        direction: down

  cmd_play_skill_shot_slide_one_million:
    skill_shot_one_million:
      action: play
      transition:
        type: push
        duration: 0.3s
        direction: down

  cmd_play_skill_shot_slide_ball_save:
    skill_shot_ball_save:
      action: play
      transition:
        type: push
        duration: 0.3s
        direction: down

  cmd_play_skill_shot_slide_add_help:
    skill_shot_add_help:
      action: play
      transition:
        type: push
        duration: 0.3s
        direction: down

  cmd_play_skill_shot_slide_gas_station:
    skill_shot_gas_station:
      action: play
      transition:
        type: push
        duration: 0.3s
        direction: down

  cmd_play_skill_shot_slide_five_million:
    skill_shot_five_million:
      action: play
      transition:
        type: push
        duration: 0.3s
        direction: down

  ##################################################
  # skill shot success
  ##################################################
  
  cmd_skill_shot_show_award_light_lock:
    skill_shot_success_light_lock:
      action: play
      transition:
        type: push
        duration: 0.7s
        direction: down
        easing: out_bounce

  cmd_skill_shot_show_award_extra_ball:
    skill_shot_success_extra_ball:
      action: play
      transition:
        type: push
        duration: 0.7s
        direction: down
        easing: out_bounce

  cmd_skill_shot_show_award_mystery_meat:
    skill_shot_success_mystery_meat:
      action: play
      transition:
        type: push
        duration: 0.7s
        direction: down
        easing: out_bounce

  cmd_skill_shot_show_award_one_million:
    skill_shot_success_one_million:
      action: play
      transition:
        type: push
        duration: 0.7s
        direction: down
        easing: out_bounce

  cmd_skill_shot_show_award_ball_save:
    skill_shot_success_ball_save:
      action: play
      transition:
        type: push
        duration: 0.7s
        direction: down
        easing: out_bounce

  cmd_skill_shot_show_award_add_help:
    skill_shot_success_add_help:
      action: play
      transition:
        type: push
        duration: 0.7s
        direction: down
        easing: out_bounce

  cmd_skill_shot_show_award_gas_station:
    skill_shot_success_gas_station:
      action: play
      transition:
        type: push
        duration: 0.7s
        direction: down
        easing: out_bounce

  cmd_skill_shot_show_award_five_million:
    skill_shot_success_five_million:
      action: play
      transition:
        type: push
        duration: 0.7s
        direction: down
        easing: out_bounce

