#config_version=5

mode:
  start_events: ball_starting
  priority: 100

sound_player:
  mode_base_started:
    intro_jazz:
      action: play
      loops: -1
      volume: 0.5
  mode_franklin_hurry_up_stopped:
    intro_jazz:
      action: play
      loops: -1
      volume: 0.65
  mode_franklin_frenzy_stopped:
    intro_jazz:
      action: play
      loops: -1
      volume: 0.65
  cmd_start_base_music:
    intro_jazz:
      action: play
      loops: -1
      volume: 0.65
  cmd_stop_music:
    intro_jazz:
      action: stop
  cmd_main_music_volume_down:
    intro_jazz:
      volume: 0.10
  cmd_main_music_volume_up:
    intro_jazz:
      volume: 0.65
  s_slaughter_house_target_active: cow_moo
  cmd_magnavuk_firing: slaugherhouse_gun
  left_franklin_shot_hit: swoosh_1
  right_franklin_shot_hit: swoosh_1
  s_right_ramp_enter_active: swoosh_1
  s_top_basket_enter_active: swoosh_1
  s_right_ramp_s_u_left_active: hit1
  s_right_ramp_s_u_right_active: hit2
  s_left_slingshot_active: hit_w_fade
  s_right_slingshot_active: hit_w_fade

slides:
  base_score_slide:
    widgets:
      - type: text
        text: (score)
        number_grouping: true
        min_digits: 2
        font_name: pinball_score
        font_size: 22
        round_anchor_x: left
        anchor_x: middle
        anchor_y: bottom
        y: 8
        x: 50%
      - type: text
        text: PLAYER (number)
        style: dmd_small
        y: 0
        x: left+2
        anchor_x: left
        anchor_y: bottom
        font_size: 10
      - type: text
        text: BALL (ball)
        style: dmd_small
        y: 0
        x: right-2
        anchor_x: right
        anchor_y: bottom
        font_size: 10

slide_player:
  mode_base_started: base_score_slide

shots:
  top_turbo_bumper:
    switch: s_top_turbo_bumper
  left_turbo_bumper:
    switch: s_left_turbo_bumper
  right_turbo_bumper:
    switch: s_right_turbo_bumper
  right_slingshot:
    switch: s_right_slingshot
  left_slingshot:
    switch: s_left_slingshot

variable_player:
  top_turbo_bumper_hit:
    score: 2510
  left_turbo_bumper_hit:
    score: 2510
  right_turbo_bumper_hit:
    score: 2510
  left_slingshot_hit:
    score: 1100
  right_slingshot_hit:
    score: 1100
  magnavuk_shot_left:
    score: 100000
  magnavuk_shot_right:
    score: 2

  ########################################
  # Bonus
  ########################################

  cmd_add_meathook_bonus:
    meathook_bonus: 1
  cmd_add_franklin_bonus:
    franklin_bonus: 1
  cmd_add_combo_bonus:
    combo_bonus: 1
  cmd_add_mode_bonus:
    mode_bonus: 1

event_player:
  cmd_start_chainsaw_multiball:
    - cmd_disable_progressive_passive_modes__chainsaw_mode
  cmd_chainsaw_multiball_ended:
    - cmd_enable_progressive_passive_modes
      #  s_right_flipper_active:
      #    - cmd_get_mystery

timers:
  my_test_timer:
    start_value: 0
    end_value: 1
    start_running: true
